.dashContainer {
  width: 80%;
  margin: auto;
}
.dashHeading {
  text-align: center;
  font-size: 25px;
}
.dashP {
  text-align: center;
  margin-top: 20px;
}
.dashList {
  text-align: left;
  margin-left: 380px;
  margin-bottom: 40px;
}
.galleryTitle {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}
.formContainer {
  background-color: lightgray;
  max-width: 100%;
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#titleInput {
  max-width: 310px;
}
.formDash {
  background-color: white !important;
}
.heading {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}
#btnDiv{
  margin-top: 20px;
}
#textRecordbtnDiv{
  margin-top: 20px;
}

/* cards*/
.imageCard{
  margin: auto; 
  width: 80%; 
  margin-bottom: 20px;
}
.imageimg{
  width: 200px; 
  float: right;
}
.imageTxt{
  text-align: left;
}
.noImageCard{
  margin: auto; 
  width: 80%; 
  margin-bottom: 20px; 
}
.noImageText{
  text-align: left;
}
/* media queries */
@media only screen and (max-width: 780px) {
  .dashList {
    margin-left: 100px;
  }
  .formDash {
    max-width: 286px;
  }
  .inputImage{
    display: block;
  }
  #imageSection {
    margin-left: 60px;
  }
  .formContainer{
    padding-left: 200px;
  }
  .imageimgSmall{
    min-width: 200px;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .imgSmallHead{
    width: 100%;
  }
  #textRecordbtnDiv{
    margin-left: 50px;
  }
}
@media only screen and (max-width: 580px) {
  #imageSection {
    margin-left: 50px;
  }
  .formContainer{
    padding-left: 0px;
    min-width: 100%;
  }
  .dashList {
    margin-left: 10px;
  }
}
